/* CSS comment*/
body {
background-color:rgb(165, 165, 165); 
color: black;
font-size: 25px ;
}
p { 
    color:rgb(34, 34, 34);
    font-family:Arial, Helvetica, sans-serif;
}

div {
    background: blueviolet;
    width: 500px;

}
span { 
    color: chartreuse;
}
.top-section {background: chocolate;}
.bottom-section {background: cornsilk;}
.intro {font-size: 40px;}
.highlight {background-color: blue;}
/* BOX
margin - empty space outside box
border 
padding - empty space inside box*/
.box {background: blueviolet;
width: 300px;
margin: 50px;
border-width: 10px;
border-color: black;
border-style: double;
padding: 50px;
padding-left: 150px;
padding: 150px 50px 150px 50px
}